+popup()#rig
	h3.popup__title= lang[34]
		h3.popup__subtitle= lang[60]
		form.form(action="#")
			.form__main
				.form__block.input-wrap
					input.form__input.input(type="text" name="Имя" placeholder=lang.urName)
				.form__block.input-wrap
					input.form__input.input(type="tel" name="Телефон" placeholder="Ваш телефон")
				input(type="hidden", name="Цель" value="Бесплатный выезд специалиста")
				.popup__descr #[=lang[37][0]]#[br] #[!=lang[37][1]]
				+picture(png, `${modules}car`, 'n', '')(class="form__img-car")
				button.form__submit.uk-button.btn-solid-primary(type="submit")=lang[2]
			.form__policy #[=lang[50][0]]#[br]#[a.form__policy-link(href=privacyLink target="_blank")=lang[50][1]]