extends modules/layout/_layout

prepend head
	title= lang.title
	meta(name="description", content=lang.description)

block content
	main.main
		section.s1
			.ibg.s1__ibg
				+picture(png, `${assets}s1-bg`, 'ml')
			.container.s1__container
				h1.s1__title #[span.text-primary НАТЯЖНОЙ ПОТОЛОК]#[br] для Вашего дома
				.s1__benefit-price по выгодной цене
				.s1__items
					-
						var list = [
							{
								subtitle: 'Экологичное<br> не токсичное<br> полотно',
								icon: `eco`
							},
							{
								subtitle: 'Установка<br> без пыли<br> и грязи',
								icon: `vac`
							},
							{
								subtitle: 'Материал<br> не горит',
								icon: `fire`
							},
							{
								subtitle: 'Гарантия<br> 12 лет',
								icon: `waranty`
							}
						]
					each item, idx in list
						.s1__item(class=`s1__item-${idx + 1}`)
							+icon(item.icon)
							.s1__item-subtitle!= item.subtitle
				.s1__tech-wrap
					p.s1__subtitle Подберём потолок под Ваш бюджет
					a.uk-button.btn-yellow.s1__btn(href="#rig" data-uk-toggle="")!= lang[6]
					p.s1__subbtn Рассчитаем стоимость потолка#[br.d-lg-none] по телефону

				+picture-min(png, `${assets}s1-man`, `${assets}s1-man`, 'sl')(class="s1-img-man lazymin")
				a.s1__play.play-video.d-none.d-md-flex(href="#v-about" data-uk-toggle="")
					+icon('playbtn')
					.play-video__helper.play-video__helper--expanded= lang[9]

		section.s2
			.container
				.s2__items
					.s2__item.s2__item-1
						span 6
						br
						p лет на рынке
					.s2__item.s2__item-2
						span 3800
						br
						p установленных#[br]потолков
					.s2__item.s2__item-3
						span 238
						br
						p цветовых гам
					.s2__item.s2__item-4
						span #[b от] 2 #[b часов]
						br
						p установка#[br.d-lg-none] потолка
		section.s3
			.container 
				.s3__items 
					-
						var list = [
							{
								title: 'Натяжные потолки',
								set: [
									'матовые',
									'сатиновые',
									'глянцевые',
									'фотопечать',
								]
							},
							{
								title: 'Многоуровневые потолки',
								set: [
									'парящие потолки',
									'двух уровневые',
									'трёх уровневые',
								]
							},
							{
								title: 'Освещение',
								set: [
									'световые линии',
									'точечные светильники',
									'люстры',
									'лампы',
									'светодиодная лента',
								]
							},
							{
								title: 'Фотопечать',
								set: [
									'звёздное небо',
									'облачное небо',
									'3D принт',
									'любой рисунок',
								]
							}
						]
					each item, idx in list
						.s3__item(class=`s3__item-${idx + 1}`)
							.s3__ibg.ibg 
								+picture(jpg, `${assets}s3-i${idx + 1}`, 'n')
								p.s3__title= item.title
							ul.s3__list
								each point in item.set 
									li.s3__list-item= point
		section.s4
			.s4__ibg.ibg
				+picture(jpg, `${assets}s4-bg`, 'sml')
			.container
				h2.s4__title Подберите #[span.text-primary идеальный] потолок под #[span.text-primary свой бюджет]#[br.d-lg-none] ответив на 4 вопроса
				p.s4__subtitle по итогу Вы:
				ul.s4__list 
					
					li.s4__list-item.s4__list-item--first 
						+icon('ok', primary)
						span Подбрете лучший потолок для своей комнаты и&nbsp;бюджета 
					li.s4__list-item 
						+icon('ok', primary)
						span + установим люстру в&nbsp;подарок
				a.s4__btn.uk-button.btn-yellow Подобрать потолок
				+picture(png, `${assets}s4-lamp`, 'sm')(class=`s4__img-lamp`)
		section.s5
			.container 
				.s5__widget 
					-
						var list = [
							{
								title: 'Виды потолка',
								set: ['Глянцевый', 'Фотопечать', 'Сатиновый', 'Матовый', 'Облачное небо', 'Звёздное небо']
							},
							{
								title: 'Тип потолка',
								set: ['Парящие потолки', 'Двухуровневые', 'Трёхуровневые']
							},
							{
								title: 'Освещение',
								set: ['Световые линии', 'Точечные светильники', 'Люстры', 'Светодиодная лента', 'Лампы']
							}
						]
					h2.d-md-none= list[0].title
					.s5__slideshow
						ul.s5__slideshow-items.uk-slideshow-items
							each item, idx in list
								li.s5__slideshow-item
									h2.d-none.d-md-block= item.title
									.s5__slider(data-uk-slider="draggable: false")
										ul.s5__slider-items.uk-slider-items 
											each picture, picIdx in item.set
												li
													.s5__slider-image.ibg 
														+picture(jpg, `${assets}s5-set${idx+1}-i${picIdx+1}`, 'n')
									.s5__slider-nav
										.s5__slider-nav-container.uk-slider-container
											ul.s5__slider-list.uk-slider-items 
												each point, pointIdx in item.set 
													li.s5__slider-listitem(class=`${pointIdx == 0 ? 'active' : ''}`)= point
										a.s5__slider-prev(href="#")
										a.s5__slider-next(href="#")
						nav.s5__slideshow-nav
							each item, idx in list
								a.s5__slideshow-navitem(href="#" class=`${idx == 0 ? 'active' : ''}`)
									span(data-text=item.title)!= item.title
		section.s6 
			.container 
				h2.s6__title Теперь эти комнаты #[span.text-primary светлые и уютные]
				.s6__slider(data-uk-slider)
					.uk-slider-container 
						ul.s6__slider-items.uk-slider-items 
							- for(var i = 1; i <= 5; i++)
								li.s6__slider-item 
									.s6__slider-image.ibg 
										+picture(jpg, `${assets}s6-i${i}`, 'sm')
					nav.s6__slider-nav
						a.s6__slider-prev(href="#" data-uk-slider-item="previous")
						ul.slidedots.uk-slider-nav.uk-dotnav.d-lg-none
						a.s6__slider-next(href="#" data-uk-slider-item="next")
		section.s7
			.s7__ibg.ibg
				+picture(jpg, `${assets}s7-bg`, 'sml')
			.container 
				.s7__widget 
					-
						var list = [
							{
								title: 'Подготовка помещения',
								set: [
									'Освобождаем периметр помещения от мебели', 
									'Укрываем стены и мебель защитной плёнкой',
									'Подготавливаем инструменты к работе'
								]
							},
							{
								title: 'Установка каркаса',
								set: [
									'Освобождаем периметр помещения от мебели', 
									'Укрываем стены и мебель защитной плёнкой',
									'Подготавливаем инструменты к работе'
								]
							},
							{
								title: 'Электропроводка',
								set: [
									'Освобождаем периметр помещения от мебели', 
									'Укрываем стены и мебель защитной плёнкой',
									'Подготавливаем инструменты к работе'
								]
							},
							{
								title: 'Монтаж потолка',
								set: [
									'Освобождаем периметр помещения от мебели', 
									'Укрываем стены и мебель защитной плёнкой',
									'Подготавливаем инструменты к работе'
								]
							}
						]
					.s7__slideshow
						ul.s7__slideshow-items.uk-slideshow-items
							each item, idx in list
								li.s7__slideshow-item
									.s7__slideshow-title Этапы работы
									.s7__slideshow-subtitle= item.title
									.s7__slideshow-image.ibg 
										+picture(jpg, `${assets}s7-i1`, 'sl')
									ul.s7__slideshow-list
										each point, pIdx in item.set
											li.s7__slideshow-listitem
												span= pIdx + 1
												p!= point
						ul.s7__dots.d-md-none.uk-slideshow-nav.uk-dotnav.slidedots
					nav.s7__slideshow-nav.d-none.d-md-flex
						each item, idx in list
							a.s7__slideshow-navitem(href="#" class=`${idx == 0 ? 'active' : ''}`)
								span(data-text=item.title)!= item.title
		section.s8 
			.container 
				h2.s8__title Выезд замерщика бесплатно
				p.s8__subtitle 60% клиентов обращаются к нам по рекомендации
				+picture(jpg, `${assets}s8-i`, 'n')(class=`s8__img-man`)
				.s8__bl 
					p.s8__bl-name Здравствуйте, я Андрей Юрченко
					p.s8__bl-descr Специалист по расчёту стоимости и установке натяжных потолков
				.s8__txt 
					p #[b Бесплатно расчитаю для Вас] полную стоимость установки потолка
					p #[b Проконсультирую по интересующим вопросам.]#[br] Подскажу по выбору материала.#[br.d-lg-none] Как сделать уютную, светлую комату и при этом сэкономить
					p У нас нету скрытых платежей.#[br] #[b Цена не поменяется#[br.d-lg-none] после окончания работы]
		section.s9
			.container 
				.s9__ctn
					+picture(jpg, `${assets}s9-i`, 'sm')(class="s9__man")
					p.s9__title Выезд замерщика #[span бесплатно]
					p.s9__subtitle Возможность рассчитать точную стоимость. И сразу подписать договор #[br.d-md-none]о начале работ
					.s9__fwrap
						a.s9__btn.uk-button.btn-yellow Вызвать замерщика
						p.s9__agr #[=lang[50][0]]#[br.d-md-none] #[=lang[50][1]]
		section.s10
			.container 
				.s10__ctn
					h2.s10__title Нам доверяют
					p.s10__subtitle 60 % клиентов обращаются к&nbsp;нам по рекомендации
					+picture(png, `${assets}s10-i`, 'n')(class="s10__man")
					.s10__bl 
						p.s10__bl-name Григорий Яровой
						p.s10__bl-descr Главный менеджер компании
					.s10__items 
						.s10__item.s10__item-1
							img(src=`${assetsIco}helm.svg` alt="" data-uk-img)
							p Стаж работы каждого специалиста больше 5 лет. Вы получите качественно установленный потолок
						.s10__item.s10__item-2 
							img(src=`${assetsIco}drill.svg` alt="" data-uk-img)
							p Используем специализированные инструменты
						.s10__item.s10__item-3
							img(src=`${assetsIco}times.svg` alt="" data-uk-img)
							p Установка в удобное для Вас время. Учитываем все пожелания
						.s10__item.s10__item-4
							img(src=`${assetsIco}flames.svg` alt="" data-uk-img)
							p Полотна не токсичны и не горят. Прошли медицинскую и пожарную сертификацию
						.s10__item.s10__item-5
							img(src=`${assetsIco}contract.svg` alt="" data-uk-img)
							p Работаем по договору с гарантией качества
		section.s11
			.s11__ibg.ibg
				+picture(jpg, `${assets}s11-bg`, 'sml')
			.container
				h2.s11__title Профессиональная команда
				.s11__slider
					.uk-slider-container 
						ul.s11__slider-items.uk-slider-items 
							li.s11__slider-item 
								.s11__slider-img.ibg 
									+picture(jpg, `${assets}s11-i1`, 'n')
								p.s11__slider-name Сергей
								p.s11__slider-pos замерщик
							li.s11__slider-item 
								.s11__slider-img.ibg 
									+picture(jpg, `${assets}s11-i2`, 'n')
								p.s11__slider-name Ирина
								p.s11__slider-pos заведующая
							li.s11__slider-item 
								.s11__slider-img.ibg 
									+picture(jpg, `${assets}s11-i3`, 'n')
								p.s11__slider-name Андрей
								p.s11__slider-pos установщик
					ul.s7__dots.d-md-none.uk-slider-nav.uk-dotnav.slidedots.slidedots--white
								
		section.s12 
			.container 
				h2=lang[44]
				ul.s12__acc(data-uk-accordion)
					li.s12__acc-item.s12__acc-item--first.uk-open 
						a.s12__acc-title.uk-accordion-title(href="#") Полотно для потолка сделано из качественных материалов?
							+icon('angle-down', '#2B3034')(class="d-none d-md-block")
						.s12__acc-content.uk-accordion-content
							p= lang[46]
					li.s12__acc-item
						a.s12__acc-title.uk-accordion-title(href="#") Почему нельзя сразу написать цену натяжного потолка?
							+icon('angle-down', '#2B3034')(class="d-none d-md-block")
						.s12__acc-content.uk-accordion-content
							p= lang[46]
					li.s12__acc-item
						a.s12__acc-title.uk-accordion-title(href="#") Как долго устанавливаете натяжной потолок?
							+icon('angle-down', '#2B3034')(class="d-none d-md-block")
						.s12__acc-content.uk-accordion-content
							p= lang[46]
					li.s12__acc-item
						a.s12__acc-title.uk-accordion-title(href="#") Много пыли во время установки?
							+icon('angle-down', '#2B3034')(class="d-none d-md-block")
						.s12__acc-content.uk-accordion-content
							p= lang[46]
					li.s12__acc-item.s12__acc-item--last
						a.s12__acc-title.uk-accordion-title(href="#") Есть у вас светильники и люстры в наличии?
							+icon('angle-down', '#2B3034')(class="d-none d-md-block")
						.s12__acc-content.uk-accordion-content
							p= lang[46]
				.s12__manager.d-none.d-lg-flex 
					+picture(jpg, `${assets}s11-man`, 'n')
					p.s12__manager-name Евгений Романенко
					p.s12__manager-pos= lang[17]
					a.s12__manager-btn.uk-button.btn-solid-primary(href="#callback" data-uk-toggle)= lang[18]
		section.s13 
			.s13__ibg.ibg
				+picture(jpg, `${assets}s13-bg`, 'ml', '')
			.container 
				.s13__map
					.s13__map-downloading
						.loadingio-spinner-rolling-hz3sd853mcv
							.ldio-ekx347c8429
								div
					.s13__map-script



